<footer class="bg-[#f4f4f4] dark:bg-[#131313] flex flex-row justify-between py-12 px-10 sm:px-28">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-[#131313] dark:text-[#b3b3b3] font-body font-bold">Copyright 2024 | akshat.tech</h1>
    </div>
    <div class="flex flex-col items-center justify-center">
        <h1>
            {{{emailSvg}}}
            <a href="mailto:mail@akshat.tech"
                class="text-[#131313] dark:text-[#b3b3b3] font-body font-bold">mail@akshat.tech</a>
        </h1>
    </div>
</footer>