<nav class="dark:bg-[#0f0f0f] bg-[#ffffff] flex rounded-full mx-8 px-4 justify-evenly items-center sticky top-4">
    <div class="w-1/2 sm:w-1/4">
        <h1 class="dark:text-green-400 text-[#05bf39] font-bold flex items-center">
            <a href="/" class="font-body">akshat.tech</a>
        </h1>
    </div>
    <div class="sm:w-1/2">
        <ul class="gap-3 justify-center items-center hidden sm:flex">
            <li class="dark:text-white text-black font-bold"><a href="/" class="font-body">HOME</a></li>
            <li class="dark:text-white text-black font-bold"><a href="#about" class="font-body">ABOUT</a></li>
            <li class="dark:text-white text-black font-bold"><a href="#projects" class="font-body">PROJECTS</a></li>
            <li class="dark:text-white text-black font-bold"><a href="/contact" class="font-body">CONTACT</a></li>
        </ul>
    </div>
    <div class="w-1/2 sm:w-1/4 flex justify-end items-center">
        <button id="theme-toggle">
            <%- moonSvg %>
        </button>
        <%- menuSvg %>
    </div>
</nav>