@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lilita+One&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --h1-color: rgb(0 255 239);
  --anchor-color: #39cdbb;
  --button-background-light: #474747;
  --moon-color: rgb(90 60 255);
  --sun-color: yellow;
  --nav-background-color: rgb(0, 0, 0, 0.5)
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: #fff;
}

/* BACKGROUND IMAGE */
#bgImageBackground {
  content: "";
  position: relative;
  height: 100vh;
  width: 100vw;
}

#bgImageBackground::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: url(/src/bgimg/pexels-rostislav-5011647.jpg) no-repeat center/cover;
  /* background: linear-gradient(to bottom, #31325f, #00002c); */
  opacity: 0.98;
  z-index: -1;
}

/* NAVIATION BAR */
nav {
  margin: auto 2em;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3em;
  background-color: var(--nav-background-color);
}

nav a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.leftNav {
  width: 50%;
  display: flex;
  align-items: center;
}

.rightNav {
  width: 50%;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
}

nav ul li a:hover {
  color: var(--anchor-color);
}

.rightNav form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid var(--nav-background-color);
  border-radius: 1.2em;
  background-color: black;
  padding: 0.3em 0.5em;
}

.rightNav form:hover {
  border-color: var(--h1-color);
  transition: all 0.3s ease-in-out;
}

.rightNav form input[type="text"],
.rightNav form button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
}

.rightNav form button {
  margin: auto 0.2em;
}

.rightNav form button i {
  color: white;
}


#burger {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 2em;
}

#burger div button {
  height: 2em;
  width: 2em;
  border: none;
  cursor: pointer;
  background: none;
}

#burger div i {
  border: none;
  display: block;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;
  padding: 2px;
}

.rightNav div:hover {
  background-color: var(--button-background-light);
  border-radius: 50%;
}

#sectionOne {
  padding: 2em;
  display: flex;
  flex-direction: row;
}

.leftSection,
.rightSection {
  width: 50vw;
  height: 80vh;
  /* border: 2px solid black; */
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: center; */
  padding: 3em;
  gap: 1em;
}

.leftSection h1 {
  font-size: 2em;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.rightSection img {
  display: block;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0;
  background-color: rgb(0, 0, 0, 0.5);
  color: var(--primary-color);
  float: bottom;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  left: 0px;
}

/* CUSTOM COLORS */
.h1-color {
  color: var(--h1-color);
}

.white-color {
  color: white;
}
/* MEDIA QUERY */
@media screen and (max-device-width: 890px) {
  #sectionOne {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-device-width: 800px) {
  .leftNav {
    display: none;
  }
}

@media screen and (max-device-width: 500px) {
  .rightNav form {
    display: none;
  }
}


/* ADDITIONAL CLASSES */
.underLine {
  text-decoration: underline 2px solid var(--primary-color);
}

/*FONTS IDENTIFIER*/

.bree-serif-bold {
  font-family: "Bree Serif", serif;
  font-weight: 1000;
  font-style: normal;
}

.lilita-font-bold {
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

/* DARK MODE AND LIGHT MODE */
.dark-mode, #moon {
  display: visible;
  color: var(--moon-color) !important;
}

.light-mode, #sun {
  display: none;
  color: var(--sun-color) !important;
}
