* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0617;
}
nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  box-shadow: -3px 0px 1px grey;
}
.leftNav {
  width: 50%;
  display: flex;
  align-items: center;
}
.rightNav {
  width: 50%;
}
nav a {
  display: block;
  text-decoration: none;
  background: linear-gradient(to right, #00f2ff, greenyellow);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-texy-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

#burger {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.2em;
}
.line {
  width: 1.6rem;
  height: 0.3rem;
  background-color: white;
}
