<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akshat Tech | Error</title>
    <link rel="icon" type="image/png" href="./src/logo/page-found_5194323.png">
    <link rel="stylesheet" href="./css/errorpage/style.css">
</head>
<body>
    <section id="main">
        <div id="errorImage">
            <img src="./src/bgimg/error_page/kraken_7931782.png" alt="Error Image">
        </div>
        <div id="error">
            <h1>Error 404 | Page Not Found</h1>
            <h3>There seems to be an error with the page you are looking for. It is either not reachable or does not exist.</h3>
            <h3>Please check the URL and try again later...</h3>
        </div>
    </section>
    <footer>
        <h3>Redirecting in <span id="redirectCountdown"></span> seconds</h3>
    </footer>
    <script src="./js/errorpage/script.js"></script>
</body>
</html>
