<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Akshat Tech | Home</title>
    <link href="./css/root/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="./src/logo/prism_5853953.png">
    <script src="https://kit.fontawesome.com/f08dd07f6a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="bgImageBackground">
      <nav>
        <ul class="leftNav">
          <li><a href="" class="lilita-font-bold" id="home">Home</a></li>
          <li><a href="/about" class="lilita-font-bold">About</a></li>
          <li><a href="/projects" class="lilita-font-bold">Projects</a></li>
          <li><a href="/about" class="lilita-font-bold">Social</a></li>
          <li><a href="/contact" class="lilita-font-bold">Contact</a></li>
        </ul>
        <div id="burger" class="rightNav">
          <form action="#" method="get" id="searchForm">
            <input type="text" name="search" id="search" placeholder="search">
            <button type="reset" id="reset"><i class="fa-solid fa-x" id="resetSymbol"></i></button>
            <button type="submit" id="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <div>
            <button class="dark-mode">
              <i class="fa-solid fa-moon" id="moon"></i>
            </button>
            <button class="light-mode">
              <i class="fa-solid fa-sun" id="sun"></i>
            </button>
          </div>
          <div>
            <button>
              <!-- <i class="fa-solid fa-burger"></i> -->
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
      </nav>
      <section id="sectionOne">
        <div class="leftSection">
          <h1 class="ubuntu-mono-bold white-color">Welcome to My <span class="h1-color">Portfolio Website</span></h1>
          <h1 class="ubuntu-mono-bold white-color"><span class="h1-color">Full Stack Developer</span></h1>
          <h3 class="ubuntu-mono-bold white-color">Hello there! <span class="h1-color">I'm Akshat Singh</span>, a passionate coder hailing from the vibrant city of Delhi, India. At just 12 years old, I dipped my toes into the world of programming, and since then, there's been no looking back. With 4 years of hands-on experience in JavaScript, HTML, and CSS, I've been on an exciting journey of learning and growth.</h3>
        </div>
        <div class="rightSection">
          <img src="./src/logo/profileLogo.png" alt="Logo">
        </div>
      </section>
      <footer>
        <h3>&copy; <span id="currentYear"></span> Copyright akshat.tech. All Rights Reserved.</h3>
      </footer>
    </div>
    <script src="./js/root/script.js"></script>
    <!-- THE BELOW CODE IS CURRENTLY USED TO SEE CHANGES AND THIS IS A DEVELOPER ONLY SCRIPT -->
    <!-- <script src="./js/root/reload.js"></script> -->
    <!-- END OF THE DEVELOPEMENT CODE -->
  </body>
</html>
