* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background-color: #070221e3;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-background-color);
}

#main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 80vh;
}

#errorImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#errorImage img {
    display: block;
    max-width: 100%;
}

#error h1, #error h3 {
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h3 {
    color: white;
    font-size: 1.2em;
}