<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | akshat.tech</title>
    <link rel="stylesheet" href="/src/tailwindcss/output.css">
</head>

<body class="bg-gray-200">
    <section class="bg-zinc-900 pt-4">
        <nav class="bg-zinc-950 flex rounded-full mx-8 px-4 justify-evenly items-center">
            <div class="w-1/2 sm:w-1/4">
                <h1 class="text-green-400 font-bold flex items-center"><a href="/" class="font-body">akshat.tech</a></h1>
            </div>
            <div class="sm:w-1/2">
                <ul class="gap-3 justify-center items-center hidden sm:flex">
                    <li class="text-white font-bold"><a href="/" class="font-body">HOME</a></li>
                    <li class="text-white font-bold"><a href="/about" class="font-body">ABOUT</a></li>
                    <li class="text-white font-bold"><a href="/projects" class="font-body">PROJECTS</a></li>
                    <li class="text-white font-bold"><a href="/contact" class="font-body">CONTACT</a></li>
                </ul>
            </div>
            <div class="w-1/2 sm:w-1/4 flex justify-end items-center">
                <svg class="h-8 w-8 cursor-pointer" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M24 42C19 42 14.75 40.25 11.25 36.75C7.75 33.25 6 29 6 24C6 19 7.75 14.75 11.25 11.25C14.75 7.75 19 6 24 6C24.4667 6 24.925 6.01667 25.375 6.05C25.825 6.08333 26.2667 6.13333 26.7 6.2C25.3333 7.16667 24.2417 8.425 23.425 9.975C22.6083 11.525 22.2 13.2 22.2 15C22.2 18 23.25 20.55 25.35 22.65C27.45 24.75 30 25.8 33 25.8C34.8333 25.8 36.5167 25.3917 38.05 24.575C39.5833 23.7583 40.8333 22.6667 41.8 21.3C41.8667 21.7333 41.9167 22.175 41.95 22.625C41.9833 23.075 42 23.5333 42 24C42 29 40.25 33.25 36.75 36.75C33.25 40.25 29 42 24 42ZM24 38C26.9333 38 29.5667 37.1917 31.9 35.575C34.2333 33.9583 35.9333 31.85 37 29.25C36.3333 29.4167 35.6667 29.55 35 29.65C34.3333 29.75 33.6667 29.8 33 29.8C28.9 29.8 25.4083 28.3583 22.525 25.475C19.6417 22.5917 18.2 19.1 18.2 15C18.2 14.3333 18.25 13.6667 18.35 13C18.45 12.3333 18.5833 11.6667 18.75 11C16.15 12.0667 14.0417 13.7667 12.425 16.1C10.8083 18.4333 10 21.0667 10 24C10 27.8667 11.3667 31.1667 14.1 33.9C16.8333 36.6333 20.1333 38 24 38Z"
                        fill="white" />
                </svg>
                <svg class="h-10 w-10 cursor-pointer" viewBox="0 0 68 73" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_4_262)">
                        <rect x="13.8235" y="16.1726" class="h-10 w-10" rx="20"
                            transform="rotate(-0.147061 13.8235 16.1726)" fill="#E6E0E9" />
                        <path
                            d="M31.1505 46.1282L30.7423 42.9292C30.5254 42.8465 30.321 42.747 30.129 42.6308C29.9371 42.5146 29.7492 42.3901 29.5656 42.2573L26.5938 43.5149L23.8316 38.772L26.4016 36.8154C26.3846 36.6987 26.376 36.5863 26.3757 36.4779L26.374 35.8029C26.3737 35.6946 26.3818 35.5821 26.3981 35.4654L23.8181 33.522L26.5559 28.7649L29.5341 30.0073C29.7171 29.8735 29.9085 29.748 30.1082 29.6308C30.3079 29.5136 30.5076 29.4131 30.7074 29.3293L31.0992 26.1283L36.5992 26.1141L37.0074 29.3131C37.2242 29.3959 37.4287 29.4954 37.6206 29.6115C37.8126 29.7277 38.0004 29.8522 38.1841 29.9851L41.1559 28.7275L43.9181 33.4704L41.3481 35.427C41.365 35.5436 41.3737 35.6561 41.3739 35.7644L41.3757 36.4394C41.3759 36.5478 41.3596 36.6603 41.3265 36.7771L43.9065 38.7204L41.1687 43.4775L38.2155 42.2351C38.0325 42.3689 37.8412 42.4943 37.6415 42.6115C37.4418 42.7287 37.2421 42.8292 37.0423 42.9131L36.6505 46.1141L31.1505 46.1282ZM32.8954 44.1237L34.8704 44.1186L35.2136 41.4678C35.7299 41.3331 36.2085 41.136 36.6495 40.8766C37.0905 40.6171 37.4939 40.3036 37.8596 39.936L40.3373 40.9546L41.3079 39.2521L39.1537 37.6326C39.2365 37.3991 39.2942 37.1531 39.3268 36.8947C39.3595 36.6363 39.3755 36.3737 39.3748 36.1071C39.3741 35.8404 39.3568 35.5779 39.3228 35.3197C39.2888 35.0614 39.2298 34.8158 39.1459 34.5826L41.2917 32.9521L40.3124 31.2546L37.8401 32.311C37.4724 31.9286 37.0674 31.6088 36.6251 31.3516C36.1828 31.0944 35.7031 30.8998 35.1861 30.7678L34.8543 28.1186L32.8793 28.1237L32.5361 30.7746C32.0198 30.9093 31.5411 31.1063 31.1001 31.3658C30.6591 31.6252 30.2557 31.9388 29.89 32.3064L27.4124 31.2877L26.4418 32.9902L28.5959 34.5847C28.5132 34.8349 28.4555 35.0851 28.4228 35.3352C28.3901 35.5853 28.3741 35.852 28.3748 36.1353C28.3755 36.402 28.3929 36.6602 28.4268 36.9102C28.4608 37.1601 28.5198 37.4099 28.6038 37.6597L26.4579 39.2902L27.4373 40.9877L29.9096 39.9314C30.2772 40.3138 30.6822 40.6336 31.1246 40.8907C31.5669 41.1479 32.0466 41.3426 32.5636 41.4746L32.8954 44.1237ZM33.9338 39.621C34.9005 39.6186 35.7246 39.2748 36.4062 38.5897C37.0877 37.9046 37.4273 37.0787 37.4248 36.1121C37.4223 35.1454 37.0786 34.3213 36.3935 33.6397C35.7084 32.9581 34.8825 32.6186 33.9158 32.6211C32.9325 32.6236 32.1042 32.9674 31.431 33.6524C30.7577 34.3375 30.4224 35.1634 30.4248 36.13C30.4273 37.0967 30.7669 37.9208 31.4437 38.6024C32.1204 39.284 32.9505 39.6236 33.9338 39.621Z"
                            fill="#65558F" />
                    </g>
                    <defs>
                        <clipPath id="clip0_4_262">
                            <rect x="13.8235" y="16.1726" width="40" height="40" rx="20"
                                transform="rotate(-0.147061 13.8235 16.1726)" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </nav>
        <div class="flex flex-col px-28 pb-8 pt-20">
            <div class="flex">
                <div class="flex flex-col w-1/2 gap-3">
                    <h1 class="text-white font-extrabold text-6xl font-body">Hello, I am</h1>
                    <h1 class="text-green-400 font-extrabold text-6xl font-body">Akshat Singh</h1>
                    <p class="text-white font-bold text-4xl font-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Libero iure sapiente alias optio laboriosam recusandae, ipsum nobis quam temporibus similique
                        incidunt itaque, minus autem perspiciatis unde natus dolore fugit voluptatibus.</p>
                </div>
                <div class="w-1/2">
                    <img src="" alt="">
                </div>
            </div>
            <div class="flex mt-12 justify-center">
                <div class="justify-center items-center gap-4 bg-zinc-500 py-2 px-2 rounded-md">
                    <div class="bg-slate-100">

                    </div>
                    <div class="bg-slate-100">
                        <svg width="67" height="67" viewBox="0 0 67 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.58333 61.4167V11.1667C5.58333 9.63125 6.13003 8.31684 7.22344 7.22343C8.31684 6.13003 9.63125 5.58333 11.1667 5.58333H55.8333C57.3688 5.58333 58.6832 6.13003 59.7766 7.22343C60.87 8.31684 61.4167 9.63125 61.4167 11.1667V44.6667C61.4167 46.2021 60.87 47.5165 59.7766 48.6099C58.6832 49.7033 57.3688 50.25 55.8333 50.25H16.75L5.58333 61.4167ZM14.3771 44.6667H55.8333V11.1667H11.1667V47.8073L14.3771 44.6667Z"
                                fill="#1D1B20" />
                        </svg>
                    </div>
                    <div class="bg-slate-100">

                    </div>
                    <div class="bg-slate-100">

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>